spring.autoconfigure.exclude: org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration

apidb:
  datasources:
    - name: cms
      url: jdbc:postgresql://localhost:5432/apidb?currentSchema=cms
      username: postgres
      password: postgres
      schema: classpath:schema.sql
    - name: solutionscorp
      url: jdbc:postgresql://localhost:5432/apidb?currentSchema=solutionscorp
      username: postgres
      password: postgres
    - name: apidb
      url: jdbc:postgresql://localhost:5432/apidb?currentSchema=apidb
      username: postgres
      password: postgres
      schema: classpath:schema.sql
      data: classpath:data.sql
    - name: public
      url: jdbc:postgresql://localhost:5432/apidb?currentSchema=public
      username: postgres
      password: postgres
      schema: classpath:schema.sql
      data: classpath:data.sql
